.coping {
    display: flex;
    background: white;
    width: 50%;
    height: 65%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 28%;
    top: 65%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    overflow: scroll;
}

.title {
    display: flex;
    background: white;
    width: 50%;
    height: 15%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 28%;
    top: 18%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    font-weight: 400;
    overflow: scroll;
    padding-left: 4rem;
}

h3 {
    padding-left: 0;
    font-size: x-large;
}

.anxiety {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 45%;
    top: 17%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: large;
    font-weight: 500;
    overflow: scroll;
}

.depression {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 45%;
    top: 47%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 11rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: large;
    overflow: scroll;
}

.ocd {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 45%;
    top: 77%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: large;
    overflow: scroll;
}

.trauma {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(128, 128, 128, 0.658);
    left: 45%;
    top: 107%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 5.5rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: large;
    overflow: scroll;
}

.ptsd {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 45%;
    top: 137%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: large;
    overflow: scroll;
}

.coping-info {
    display: flex;
    background: #5DE4A4;
    width: 35%;
    height: 85%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    position: fixed;
    left: 76%;
    top: 51.7%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    color: white;
}

.inner-cope {
    padding-top: 2rem;
    display: flex;
    background: white;
    font-size: larger;
    margin: 1rem;
    width: 90%;
    height: 80%;
    text-decoration: none;
    left: 2.5%;
    top: 13%;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    position: fixed;
    flex-direction: column;
    margin-top: 2rem;
}

.what-are {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2rem;
}

.anger {
    display: flex;
    background: #B1EBCF;
    width: 80%;
    height: 25%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 45%;
    top: 167%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 1rem;
    font-weight: 500;
    font-size: large;
    overflow: scroll;
}