.welcome-banner {
    display: flex;
    background: white;
    width: 25%;
    height: 20%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 15.5%;
    top: 20%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    font-weight: 400;
    overflow: scroll;
    padding-left: 2rem;
}

.beep {
    padding-top: 1rem;
    max-height: 8rem;
    max-width: 8rem;
}

.crisis-box1 {
    display: flex;
    background: #B1EBCF;
    width: 50%;
    height: 22%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 28%;
    top: 52%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-weight: 500;
    font-size: x-large;
    overflow: scroll;
}

.small-p {
    font-weight: 400;
    font-size: large;
}

.crisis-box2 {
    display: flex;
    background: #B1EBCF;
    width: 50%;
    height: 22%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    left: 28%;
    top: 84%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-weight: 500;
    font-size: x-large;
    overflow: scroll;
}

.small-p2 {
    font-weight: 400;
    font-size: large;
}

.services-box {
    display: flex;
    background: #5DE4A4;
    width: 35%;
    height: 80%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    position: fixed;
    left: 76%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
}

.our-services {
    padding: 1.5rem;
    font-weight: 700;
    font-size: xx-large;
    color: white;
}

.services {
    padding-top: 8rem;
    display: flex;
    background: white;
    font-size: larger;
    margin: 1rem;
    width: 90%;
    height: 80%;
    text-decoration: none;
    left: 2.5%;
    top: 10%;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    position: fixed;
    flex-direction: column;
    margin-top: 2rem;
}

p {
    padding-bottom: 2rem;
}