.logout {
    display: flex;
    background: #B1EBCF;
    width: 40%;
    height: 50%;
    text-decoration: none;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    flex-direction: column;
    overflow: scroll;
    text-align: center;
}

h2 {
    padding-top: 2rem;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.no-btn {
    margin-left: 4rem;
    margin-right: 4rem;
    height: 3rem;
    background-color: #5DE4A4;
    border: none;
    color: black;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
}

.btn {
    background-color: #5DE4A4;
    height: 3rem;
    font-size: large;
    text-decoration: none;
    color: black;
    border: none;
    justify-content: center;
}

.no-btn:hover {
    background-color: #62f3b0;
}

.btn:hover {
    background-color: #62f3b0;
}

.yes-btn {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 3rem;
    padding-top: .2rem;
    font-size: large;
    background-color: #5DE4A4;
    border: none;
    color: black;
    box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.658);
}

.yes-btn:hover {
    background-color: #62f3b0;
}